body {
	background-color: #282828;
	color: white;
}

h1 {
	font-family: 'Merriweather', serif;
	margin:  20rem 30rem 5rem 30rem;
}

p {
	font-family: 'Open Sans', sans-serif;
	margin: 0 30rem;
}

ul {
	font-family: 'Open Sans', sans-serif;
	margin: 2rem 30rem;
	list-style-type: square
}

div {
	font-family: 'Open Sans', sans-serif;
	margin: 0 30rem;
}

a { margin: 0 2rem 0 0; } 
