<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <title>Flask Application</title>

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">

  </head>

  <body>

    <h1>Expresso</h1>

    <p>Website development & design agency based in Auckland, New Zealand.</p>

    <p>Services include</p>

    <ul>
      <li>Professional consulting</li>
      <li>Website development.</li>
      <li>Website hosting and maintence.</li>
      <li>User interface design.</li>
      <li>User experience storyboards.</li> 
    </ul>

    <div>
    <a>contact</a>
    <a>portfolio</a>
    <a>projects</a>
    <a>tools we use</a>
    <a>about our team</a>
  </div>

  </body>

</html>
